pandas
torch
sentence-transformers>=2.2.2
claude-api
python-dotenv
black
flake8
isort
pydantic>=2
openai
anthropic
kivy
pyinstaller
tiktoken
langchain
faiss-cpu
pypdf2
pdfminer.six
langchain-community
pydantic 
